# Aliases
alias ip="ip -c"
alias tree="tree -C"
alias ff='fastfetch'
alias yay='yay --color=auto'
alias grep='grep --color=auto'
alias pacman='pacman --color=auto'
alias ls='eza --color=auto --icons=always'
alias la='eza --color=auto -lah --icons=always --group-directories-first'
alias ll='eza --color=auto -l --icons=always'

alias py="python"
alias maven="mvn"
alias fgl="fancygitlog"
alias kronos='~/Desktop/Projects/testing/kronos/run'
